body
	min-width 1224px
	width 100%
	font-size 12px
	line-height 1.5
	color #666
.clearfloat
	clear both
.bigOver
	overflow hidden
	width 100%
	min-width 1224px
.fixed
	position fixed
	right 10px
	bottom 100px
	width 36px
	height 78px
	text-align center
	z-index 999
	& a
		display block
		width 36px
		height 36px
		border-radius 18px
	& .fix-one
		background #00a2ca
		color #fff
		padding 5px 6px 0
		line-height 1
	& .top
		padding-top 9px
		background #eeeeee
		background-image url(../../img/21.png)
		background-position 50% 48%
		background-repeat no-repeat
.video
	position fixed
	right 0
	bottom 0
	min-width 100%
	min-height 100%
	width auto
	height auto
	z-index -10
	background url(https://g.alicdn.com/alishu/portal/0.0.242/imgs/home/video-bg.jpg) no-repeat
	background-size cover
.bigTop
	width 100%
	height 90px
	position absolute
	z-index 99
	& .bigInnerTop
		width 1224px
		margin 0 auto
		height 90px
		padding 0 12px
		& .navHeader
			width 220px
			height 90px
			float left
			background-image url(../../img/head.png)
			background-repeat no-repeat
			background-position -19px 7px	
		&>ul>li 
			float left
			line-height 90px
			&>a
				display block
				color #FFF
				font-weight 200
				padding 0 18px
				transition all .4s .4s
		& ul.rightUl
			float right
			font-size 14px
			position relative
			&>li>a
				padding 0 20.5px
			& li.first
				&:hover .smallInner
					display block
				&:hover i.one:after
					top 5px
				&:hover i.one:before
					top -5px
				& i.one
					display inline-block
					width 16px
					height 6px
					border-bottom 1px solid #fff
					vertical-align super
					&:after
						content ''
						display block
						border-bottom 1px solid
						width 16px
						height 10px
						position relative
						top 0
						transition all 0.4s
					&:before
						content ''
						display block
						border-top 1px solid
						width 16px
						height 0
						position relative
						top 0
						transition all 0.4s
				& .smallInner
					background-color #fff
					display none
					position absolute
					right 0px
					line-height 36px
					width 140px
					top 90px
					padding-top 17px
					padding-left 20px
					&>a.smallTit
						display block
						font-size 12px
						&:hover
							color #00a2ca
				& .act
					display block
		& ul.centerMianUl
			float left
			position relative
			font-size 16px
			&>li>a:hover
				background-color #0096bb
			&>li>.height:hover+a
				background-color #0096bb
			&>li:first-child:hover .height
				height 199px
				z-index 10
			&>li:first-child+li:hover .height
				height 298px
				z-index 10
			&>li:first-child+li+li:hover .height
				height 229px
				z-index 10
			&>li:first-child+li+li+li:hover .height
				height 184px
				z-index 10
			&>li:first-child+li+li+li+li:hover .height
				height 184px
				z-index 10
			& .height
				height 0
				width 928px
				position absolute
				top 90px 
				left 0
				background #fff 
				overflow hidden
				transition height 0.4s 0.4s
				& div.smallInner
					width 928px
					line-height 1
					position absolute
					left 0
					padding-top 25px
					& a:hover
						color #00a2ca
					& .oneSmallUl
						width 928px
						padding-bottom 10px 
						padding-left 5px
						&>li
							float left
							width 368px
							margin 0 20px 20px 20px
							& a.small-hover
								font-size 14px
								line-height 18.5px
							& p.des
								font-size 12px
								line-height 15.5px
								color #8E8E8E
					& dl.small-dl
						width 171px
						float left
						margin-right 63px
						& dt
							padding-bottom 10.5px
							margin-bottom 15px
							font-size 14px
							line-height 18.5px
							color #999
							border-bottom 1px solid #f2f2f2
						& dd
							font-size 14px
							line-height 18.5px
							margin-bottom 20px
						&:first-child
							margin-left 25px 
					& .small-dl.last
						margin-right 0
					& .small-div
						width 368px
						margin-bottom 20px
						padding-left 25px
						&>a.smallTit
							font-size 14px
							line-height 18.5px
						& p.des
							font-size 12px
							line-height 15.5px
							color #8e8e8e
.bigBg
	width 100%
	min-width 1224px
	height 500px
	position absolute
	top 0
	z-index -1
	overflow hidden
	& ul
		width 100%
		height 500px
	& li.on
		display block
	& li
		display none
		width 100%
		height 100%
		text-align center
		over-flow hidden
		position relative
		opacity 0.9
		& .outImg
			width 1224px
			height 500px
			margin 0 auto
			position relative
			& img
				position absolute
				top 0
				left 50%
				margin-left -720px
.outBanner
	width 100%
	height 500px
	position relative
	z-index 2
	overflow hidden
	& .innerBanner
		width 1224px
		height 500px
		margin auto
		position relative
		padding-left 12px
		padding-right 12px
		& .item
			display none
			width 100%
			height 500px
			position relative
			top -90px
			opacity 0
			& h1
				font-size 48px
				font-weight 100
				text-shadow 0 0 3px rgba(0,0,0,.13)
				padding-top 142px
				margin-bottom 15px	
				color white
			& h2
				font-size 20px
				font-weight 100
				text-shadow 0 0 3px rgba(0,0,0,.13)
				margin-bottom 37px
				display block
				color white
			& h1.five-h1
				display block
				width 768px
				margin 0 auto 15px
			& h2.five-h2
				width 447px
				margin 0 auto 37px
			& a.pub
				margin-top 20px
				width 180px
				height 42px
				font-size 16px
				padding-top 8px
				display inline-block
				margin-bottom 0
				font-weight 400
				text-align center
				vertical-align middle
				border 1px solid 
				white-space nowrap
				line-height 40px
				padding 0px 15px
				transition all .3s
				color white
				&:not(.dif5):hover
					background-color rgba(255,255,255,.2)		
			& a.dif5
				margin 20px auto 80px
				background-color #00A2CA
				border-color #00A2CA
				color #fff
				display block
				&:hover
					background-color #33b5d5
					border-color #33b5d5
		& .item.act
			display block
	& .slider-index
		width 100%
		text-align center
		position absolute
		bottom 42px
		z-index 3
		left 0
		font-size 0
		& i.index
			display inline-block
			width 16px
			height 16px
			background-color rgba(255, 255, 255, .5)
			border-radius 8px
			margin 0 5px
			&:hover
				cursor pointer
		& i.act
			background-color rgba(255, 255, 255, 1)
	& .trigon
		position absolute
		display block
		width 0
		height 0
		border-bottom 110px solid #fff
		bottom 0
	& .trigon.left
		left 50%
		border-left 1440px solid transparent
	& .trigon.right
		right 50%
		border-right 1440px solid transparent
.oneMain
	width: 100%;
	height: 700px;
	background: #fff;
	position: relative;
	z-index: 2;
	min-width: 1224px;
	line-height: 1.5;
	& .inner
		height: 700px;
		padding-top: 55px;
		text-align: center;
		position: relative;
		& h2
			color: #000;
			font-size: 36px;
			margin-bottom: 40px;
		& .row
			margin-left: -12px;
			margin-right: -12px;
			height: auto;
			display: block;
			position: relative;
			& .col
				width: 50%;
				position: relative;
				display: block;
				float: left;
				padding-left: 12px;
				padding-right: 12px;
				& h3
					color: #000;
					font-size: 24px;
					margin-bottom: 10px;
					display: block;
				& .des
					color: #666;
					font-size: 16px;
					line-height: 32px;
					& a.aHover
						color: #00A2CA;
						&:hover
							color: #43BFE3;
				& img
					margin-top:25px;
.twoMain
	background-color rgba(30,85,101,.65)
	position relative
	z-index 2
	padding-top 60px
	color #fff
	height	566px
.pubMain
	width 100%
	& .inner
		width 1224px
		margin auto	
		padding-left 12px
		padding-right 12px
		& h2
			font-size 36px
			margin-bottom 65px
			text-align center
		& .inner-cen
			width 1224px
			margin-left -12px
			margin-right -12px
			& .col
				width 33.3333333%
				float left
				padding-left 12px
				padding-right 32px
				line-height 32px
				position relative
				& h3
					text-align left
					font-size 24px
					margin-bottom 10px
				&>p
					font-size 16px
				&>a.a-pub
					display block
					width 140px
					height 36px
					font-size 14px
					margin-top 25px
					color #fff
					background-color #00A2CA
					border-color #00A2CA
					line-height 36px
					text-align center
					&:hover
						background-color: #33b5d5;
						border-color: #33b5d5;
.threeMain.pubMain
	background-color #fff		
	position relative
	z-index 2
	padding-top 90px
	color #000
	height 580px
	background url(../../img/datav_bg.png) no-repeat #f5f5f5; 	
	background-position 50% 50%		
	& .inner
		width 1224px	
		& .inner-cen
			& .col
				padding-right 15px
				& h3
					& i.icon
						display inline-block
						background-color red
						width 40px
						height 40px
						margin-right 20px
						vertical-align middle
						background-image url(../../img/123.png)
					& i.icon1
						background-position -88px -40px
					& i.icon2
						background-position -494px -40px
					& i.icon3
						background-position -900px -40px
				& p.dif
					color: #666	
.fourMain
	height 524px
	padding-top 70px
	text-align center
	position relative
	z-index 2
	background-color rgba(30,85,101,.65)
	& .inner
		width 1224px
		margin auto	
		padding-left 12px
		padding-right 12px
		& h2
			color #fff
			font-size 36px
			margin-bottom 20px
		& p
			color #fff
			font-size 18px
			line-height 32px
			margin-bottom 20px
		& .funt
			& a.pub-fun
				float left
				display block
				width 160px
				height 160px
				background rgba(255,255,255,0.10)
				margin-right 40px
				padding 40px 50px
				& img
					width 48px
					height 48px
				&>div
					margin-top 15px
					color #ffffff
					font-size 14px
					text-align center
					font-family MicrosoftYaHei
				&:hover
					background rgba(255,255,255,0.30)
		& a.a-btn
			display block
			margin auto
			color #fff
			background-color #00A2CA
			border-color #00A2CA
			width 140px
			height 36px
			line-height 36px
			font-size 14px
			margin-top 50px
			&:hover
				background-color #33b5d5
				border #33b5d5
.fiveMain
	height 396px
	width 100%
	background-color #fff
	padding-top 70px
	text-align center
	position relative
	z-index 2
	& .inner
		width 1224px
		padding-left 12px
		padding-right 12px
		margin auto
		& h2
			color #000
			font-size 36px
			margin-bottom 20px	
		&>p
			font-size 18px
			line-height 24px
			color #333
		& a.a-btn
			display block
			width 180px
			height 42px
			font-size 16px
			color #fff
			background-color #00A2CA
			line-height 42px
			margin 40px auto 0
			&:hover
				background-color #33b5d5
.lastMain
	width 100%
	position relative
	background-color #fff
	border-top 1px solid #e5e5e5
	text-align center
	padding 35px 0 40px
	font-size 12px
	color #999
	& p
		padding 5px 0
	& p.big
		font-size 14px
		& a
			color #666
			padding 0 5px
	& p.menter
		line-height 24px
		& a
			padding 0 10px 0 5px
	& p.p-icon
		font-size 0
		& a.icon
			display inline-block
			width 22px
			height 22px
			background-image url(../../img/footer-168-169.png)
		& a.icon-1
			background-position 85px 113px
		& a.icon-2
			background-position 85px 91px
		& img
			margin-left 2px